body {
  font: 18px sans-serif;
}

.container {
  position: relative;

  .wrapper {
    padding: 0 1em;
    margin: 0px auto;
    max-width: 30em;
  }
}

h1 {
  font-size: 18px;
}

textarea {
  font-size: 24px;
  width: 100%;
}

input[type="submit"] {
  font-size: 18px;
  float: right;
}

code {
  font-size: 36px;
}
